[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "vendor/EdpModuleLayouts"]
    path = vendor/EdpModuleLayouts
    url = https://github.com/EvanDotPro/EdpModuleLayouts.git
